* {
    margin: 0;
    padding: 0;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.0), #FFEBCD);
    background-size: cover;
    background-image: center;
    height: 100vh;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 5%;
}

.banner-text {
    text-align: center;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 150px;

}

.banner-text h1 {
    font-size: 80px;
}

.logo1 {
    text-align: left;
    font-size: 50px;
    padding-top: 3%;
    padding-left: 6%;
    color: rgb(28, 238, 81);
}

.point1 {
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -60px;

}

.point1 h2 {
    text-align: center;
    padding-bottom: 20%;
    padding-left: 10%;

}

.logo20 {
    margin-top: -20%;
}

.logo2 {
    text-align: left;
    font-size: 50px;
    padding-top: 4%;
    padding-left: 6%;
    color: rgb(28, 238, 81);
}

.point2 {
    font-size: 15px;
}

.point2 h2 {
    text-align: center;
    padding-top: 0%;
    padding-left: 10%;
    margin-top: -50px;
}

.logo30 {
    margin-top: -20%;
}

.logo3 {
    text-align: left;
    font-size: 50px;
    padding-top: 25%;
    padding-left: 6%;
    color: rgb(28, 238, 81);
}

.point3 {
    font-size: 20px;
}

.point3 h3 {
    text-align: center;
    padding-top: 0%;
    padding-left: 10%;
    margin-top: -50px;
    
}
.logo40 {
    margin-top: -20%;
}

.logo4 {
    text-align: left;
    font-size: 50px;
    padding-top: 25%;
    padding-left: 6%;
    color: rgb(28, 238, 81);
}

.point4 {
    font-size: 22px;
}

.point4 h4 {
    text-align: center;
    padding-top: 0%;
    padding-left: 10%;
    margin-top: -50px;
    
}